DATABASE_URL=postgres://username:password@host/db
OBJECT_STORAGE_URL=https://your-object-storage-url
DATA_SHARING_ENDPOINT=https://your-data-sharing-endpoint
GOOGLE_SEARCH_WIDGET_CONFIG_ID=bf6c14db-11c5-4221-84f0-ebdacef2ae55
GOOGLE_SEARCH_WIDGET_TOKEN_ENDPOINT=
